<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="js/game.js"></script>
  <script src="js/solarsprint.js"></script>
  <script src="js/breakaway.js"></script>
</head>
<body>
<div ng-controller="GameController as game" id="app">

  <div class="route" id="intro"></div>

  <div id="loading" ng-if="game.loading">
    Loading...
  </div>

  <section id="welcome" ng-if="!game.loading && !game.inProgress && !game.error">
    <div class="ui-content">
      <h1 class="ui-heading">
        <span>{{game.gameName}}</span>
      </h1>

      <h2 class="ui-heading">
        <span>Welcome</span>
        <span>to</span> 
        <span>{{game.teamName}}</span>
        <span>team</span>
      </h2>

      <h3 class="ui-heading" id="starting-in">
        <span>Starting</span>
        <span>in</span> 
        <span id="starting-in-value">{{game.startIn}}</span>
      </h3>
    </div>
  </section>

  <section 
    class="ui-page -game" 
    id="breakaway" 
    ng-if="game.inProgress > 0 && game.gameType == 'breakaway'" 
    ng-controller="BreakAwayController as ba"
  >
    <!-- Break Away -->
    <header class="ui-header">
      <h1 class="ui-heading">
        Keep Tapping
      </h1>
    </header>
    <div class="ui-content">
      <div 
        class="ui-ball" 
        ng-repeat="ball in ba.balls" 
        ng-class="{active: ball.active}"
        ng-click="ba.handleClick($index, ball)"
      >
        <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-724 375 150 151"
           style="enable-background:new -724 375 150 151;" xml:space="preserve">
        <g id="Magic" sketch:type="MSPage">
          <g id="_x36__x5F_Tap" transform="translate(-498.000000, -581.000000)" sketch:type="MSArtboardGroup">
            <g id="Group-12" transform="translate(-0.000000, 0.000000)" sketch:type="MSLayerGroup">
              <g id="Group-10" transform="translate(498.000000, 581.000000)" sketch:type="MSShapeGroup">
                <path id="Fill-265" d="M-574.1,447.9c-0.7-16.3-6.5-31.2-16-43.3c-21.9,3.5-41.4,10.7-60.2,25.5c5.6,4.9,11,10.3,16,16.5
                  c8.5-5.1,18.4-8.1,29-8.1C-592.9,438.4-580.7,442.8-574.1,447.9"/>
                <path id="Fill-266" d="M-667.4,417.1c4.1,2.7,8.3,5.6,12.4,8.9c18.1-14.5,39.5-23.6,60.2-26.9c-13.7-14.2-32.8-23.2-54.1-23.2
                  c-2.1,0-4.2,0.2-6.2,0.3C-654.6,391.8-657.9,405.1-667.4,417.1"/>
                <path id="Fill-267" d="M-655.1,434.1c-23.3,20.2-35.9,44.7-45,71.5c12.7,11.9,29.5,19.4,48,20.1c-6.3-9.6-9.4-20.2-9.4-31.1
                  c0-18.1,8.7-34.2,22-44.5C-644.3,444.1-649.7,438.8-655.1,434.1"/>
                <path id="Fill-268" d="M-635.6,455.1c-11.9,9.1-19.6,23.5-19.6,39.6c0,15.6,6.5,24.8,10.6,31c12-0.7,23.3-4.2,33.1-9.9
                  C-615.1,493.5-621,474.8-635.6,455.1"/>
                <path id="Fill-269" d="M-660.1,430c-3.8-3-7.7-5.8-11.5-8.2c-12.7,12.7-29.9,19-51.1,15.5c-0.8,4.4-1.3,8.9-1.3,13.6
                  c0,19.1,7.2,36.4,18.9,49.7C-695.9,473.5-681.6,449-660.1,430"/>
                <path id="Fill-270" d="M-605.2,444.7c-9.2,0-17.8,2.5-25.2,6.9c13.7,18.6,21,38.1,24.6,60.6c18-12.7,30.1-33.1,31.6-56.4
                  C-582.7,449.1-591.9,444.7-605.2,444.7"/>
                <path id="Fill-271" d="M-672.8,413.8c9.8-11.9,11.5-23.4,11.3-36.8c-16.4,2.8-31,10.9-42,22.5
                  C-697.1,401.9-686.6,405.6-672.8,413.8"/>
                <path id="Fill-272" d="M-677.2,418.5c-9.7-5.6-19.1-9.7-26.9-12.5c-1.1-0.4-2.4-0.9-3.7-1.4c-6.2,7.8-10.8,16.8-13.5,26.7
                  C-703.5,434.1-688.6,429.3-677.2,418.5"/>
              </g>
            </g>
          </g>
        </g>
        </svg>
      </div>
    </div>
    <footer class="ui-footer">
      <div class="ui-time">0:{{game.countDown}}</div>
      <div class="ui-time">Points: {{ba.cumulativePoints}}</div>
    </footer>
   
  </section>

  <section id="game-over" ng-if="game.gameOver">
    <div class="ui-content">
      <h1 class="ui-heading">
        <span>Game Over!</span>
      </h1>
    </div>
  </section>

  <div class="game" id="solarsprint" ng-if="game.inProgress > 0 && game.gameType == 'solarsprint'" ng-controller="SolarSprintController as s">
    <!-- Solar Sprint -->
    <h1 class="ui-heading">
      <span>Swipe</span>
      <span>The</span> 
      <span>Pucks</span>
    </h1>
    <div class="container">
      <div 
        class="ball" 
        ng-repeat="ball in ba.balls" 
        ng-class="{active: ball.active}"
        ng-click="ba.handleClick($index, ball)"
      ></div>
    </div>
  </div>
  
  <section class="error" ng-if="game.gameEnded">
    <div class="ui-content content">
        <h1 class="ui-heading">
            Game Has Ended!
        </h1>
    </div>
  </section>

</div> <!-- /app -->

</body>
</html>