<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="js/game.js"></script>
  <script src="js/solarsprint.js"></script>
  <script src="js/breakaway.js"></script>
</head>
<body>
<div ng-controller="GameController as game" id="game">

  <div class="route" id="intro"></div>

  <div id="loading" ng-if="game.loading">
    Loading...
  </div>

  <section id="welcome" ng-if="!game.loading && !game.error">
    <div class="ui-content">
      <h1 class="ui-heading team">
        <span>Welcome</span>
        <span>to</span> 
        <span>{{game.teamName}}</span>
        <span>team</span>
      </h1>

      <h1 class="ui-heading" id="starting-in">
        <span>Starting</span>
        <span>in</span> 
        <span id="starting-in-value">{{game.startingIn}}</span>
      </h1>
    </div>

  </section>

  <!-- 
    <section class="ui-page -intro">
    <div class="ui-content">
      <h1 class="ui-heading">
      <span>You</span> <span>in</span> <span>the</span> <span>game?</span>
      </h1>
      <input type="text" class="ui-input" placeholder="Enter code to join"/>
    </div>
    <div class="ui-content">
      <button type="button" class="ui-button">Bring it on</button>
    </div>
    </section>
   -->

  <div class="game" id="breakaway" ng-if="game.playing && game.gameType == 'breakaway'">
    Break Away
    <div class="container">
      <div class="touch-circle active"></div>
      <div class="touch-circle"></div>
      <div class="touch-circle"></div>
      <div class="touch-circle"></div>
      <div class="touch-circle"></div>
    </div>
  </div>

  <div class="error" ng-if="game.gameEnded">
    The game has ended!
  </div>
  <div id="leaderboard" ng-if="game.showLeaderboard">
    Leaderboard
  </div>

</div> <!-- /app -->

</body>
</html>