
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#app {
    display: block;
    height: 100%;
    width: 100%;
    background: #0474BC;
    color: white;
    overflow: hidden;
}

.ui-page {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0474BC;
}

    .ui-page.-intro {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #03558a;
    }

        .ui-page.-intro > * {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        }

            .ui-page.-intro > *:first-child {
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .ui-page.-intro > *:last-child {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }

    .ui-page.-game {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .ui-page.-game > .ui-heading {
            -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .ui-page.-game > .ui-content {
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .ui-page.-game > .ui-footer {
            -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

#game:target ~ * .ui-page.-game {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.ui-ball {
    z-index: 999;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 7.5vw);
    left: calc(50% - 7.5vw);
    -webkit-transform-origin: -10vw center;
    transform-origin: -10vw center;
}

.ui-ball path {
    fill: white;
}
.ui-ball.active path{
    fill: black;
}

    .ui-ball:nth-child(1) {
        -webkit-transform: translateX(15vw) rotate(82deg);
        transform: translateX(15vw) rotate(82deg);
    }

    .ui-ball:nth-child(2) {
        -webkit-transform: translateX(15vw) rotate(154deg);
        transform: translateX(15vw) rotate(154deg);
    }

    .ui-ball:nth-child(3) {
        -webkit-transform: translateX(15vw) rotate(226deg);
        transform: translateX(15vw) rotate(226deg);
    }

    .ui-ball:nth-child(4) {
        -webkit-transform: translateX(15vw) rotate(298deg);
        transform: translateX(15vw) rotate(298deg);
    }

    .ui-ball:nth-child(5) {
        -webkit-transform: translateX(15vw) rotate(370deg);
        transform: translateX(15vw) rotate(370deg);
    }

.ui-time {
    font-size: 3rem;
}

.ui-heading {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

    .ui-heading:only-child {
        margin-bottom: 0;
        padding: 1rem 0;
    }

    .ui-heading > span {
        display: inline-block;
    }

        .ui-heading > span:nth-child(2n) {
            -webkit-animation: heading-even 0.6s cubic-bezier(0.8, 0, 0.5, 1) both;
            animation: heading-even 0.6s cubic-bezier(0.8, 0, 0.5, 1) both;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }

        .ui-heading > span:nth-child(2n + 1) {
            -webkit-animation: heading-odd 0.6s cubic-bezier(0.8, 0, 0.5, 1) both;
            animation: heading-odd 0.6s cubic-bezier(0.8, 0, 0.5, 1) both;
            -webkit-transform-origin: right center;
            transform-origin: right center;
        }

@-webkit-keyframes heading-even {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2) translateY(-50%) rotate(-25deg);
        transform: scale(1.2) translateY(-50%) rotate(-25deg);
    }

    to {
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;
    }
}

@keyframes heading-even {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2) translateY(-50%) rotate(-25deg);
        transform: scale(1.2) translateY(-50%) rotate(-25deg);
    }

    to {
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;
    }
}

@-webkit-keyframes heading-odd {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2) translateY(50%) rotate(-25deg);
        transform: scale(1.2) translateY(50%) rotate(-25deg);
    }

    to {
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;
    }
}

@keyframes heading-odd {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2) translateY(50%) rotate(-25deg);
        transform: scale(1.2) translateY(50%) rotate(-25deg);
    }

    to {
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;
    }
}

.ui-input {
    width: 15rem;
    height: 2.5rem;
    border: none;
    background: white;
    text-align: center;
    color: #333;
    outline: 1px solid rgba(255, 255, 255, 0);
    outline-offset: 6px;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0.5, 1);
    transition: all 0.3s cubic-bezier(0.8, 0, 0.5, 1);
    text-transform: uppercase;
}

    .ui-input:focus {
        outline: 1px solid white;
        outline-offset: 3px;
    }

.ui-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #0474BC;
    border: none;
    height: 3rem;
    width: 15rem;
    text-transform: uppercase;
    line-height: 2.9rem;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.5s 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: color 0.3s ease-in-out, -webkit-transform 0.5s 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: transform 0.5s 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035), color 0.3s ease-in-out;
    transition: transform 0.5s 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035), color 0.3s ease-in-out, -webkit-transform 0.5s 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

    .ui-button:focus {
        color: transparent;
        -webkit-transform: translateY(-500%) scale(30) rotate(-40deg);
        transform: translateY(-500%) scale(30) rotate(-40deg);
        outline: none;
    }

html, body {
    font-size: 16px;
    font-family: Oswald, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

.error {
    text-align: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}

.count-down {
    text-align: center;
    padding-top: 15px;
}