/* GLOBAL STYLES */
html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background: #0474bc;
    letter-spacing: .25em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}


    .content > .child {
        margin: 0 auto;
    }

@media (min-width: 768px) {
    .content > .child {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .content > .child {
        width: 800px;
    }
}

@media (min-width: 1920px) {
    .content > .child {
        width: 1000px;
    }
}

.row {
    margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 30px 0;
}

/* Leader Board */
.team-info {
    width: 100%;
    overflow: auto;
    text-transform: uppercase;
    margin-top: 0;
}

    .team-info .team-points {
        float: right;
    }

.team-name {
    font-weight: bold;
}

/*Magic Colors*/

.team-blue {
    background: blue;
}

.team-black {
    background: black;
}

.team-silver {
    background: silver;
}

.team-white {
    background: white;
}



/* Initial visualization */

#game, #leaderboard, #hockey, #basketball {
    display: none;
}

.touch-circle {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

    .touch-circle.active {
        background: orange;
    }


/* PROGRESS STYLES */

.team-points:after {
    content: " PTS";
}

progress, /* All HTML5 progress enabled browsers */
progress[role] /* polyfill */ {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: none;
    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
    /* Dimensions */
    width: 400px;
    height: 60px;
}

    /* Polyfill */
    progress[role]:after {
        background-image: none; /* removes default background from polyfill */
    }

    /* Ensure fallback text doesn't appear in polyfill */
    progress[role] strong {
        display: none;
    }

/* This sets the dimensions of our sample PB element*/
progress {
    -webkit-appearance: none;
    border: none;
    width: 80%;
    height: 20px;
}

    /* Background Colors  */
    progress, /* Firefox  */
    progress[role][aria-valuenow] { /* Polyfill */
        background: transparent !important; /* !important is needed by the polyfill */
    }

        /* Chrome */
        progress::-webkit-progress-bar {
            background: transparent;
        }

/* Foreground Colors   */
/* IE10 */
progress {
    color: #cce3f1;
}

    /* Firefox */
    progress::-moz-progress-bar {
        background: #cce3f1;
    }

    /* Chrome */
    progress::-webkit-progress-value {
        background: #cce3f1;
    }

    /* Polyfill */
    progress[aria-valuenow]:before {
        background: #cce3f1;
    }
