body {
}

/*Magic Colors*/

.team-blue {
    background: blue;
}

.team-black {
    background: black;
}

.team-silver {
    background: silver;
}

.team-white {
    background: white;
}

/* Initial visualization */

#game, #leaderboard, #hockey, #basketball {
    display: none;
}

.touch-circle {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.touch-circle.active {
    background: orange;
}
